include dash_blueprint/dash_blueprint.min.js
include dash_blueprint/dash_blueprint.dev.js
include dash_blueprint/metadata.json
include dash_blueprint/package.json
include dash_blueprint/blueprint.css
include README.md
