.bp3-dark {
    background: #293742;
}

.bp3-button.table-sort-button {
    padding: 0px 0px;
    min-height: unset;
    min-width: 14px;
}   

.selected {
    /* background: #f0f8ff2e; */
    background: #65788873;
}


tr {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

td {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tooltip-indicator {
    border-bottom: 1px dotted;
    cursor:help
}