.bp3-range-selector .bp3-bar {
    fill: #a7b6c2;
}

.bp3-range-selector .bp3-bar.selected {
    fill: #137cbd;
}

.bp3-dark .bp3-range-selector .bp3-bar {
    fill: #5c7080;
}

.bp3-dark .bp3-range-selector .bp3-bar.selected {
    fill: #2b95d6;
}
